<%- include('partial/inner-header'); %>
<%- include('partial/inner-topheader', { adminuser: currentUser }) %>
<%- include('partial/inner-sidebar',  { link: link, adminuser: currentUser}) %>

		<!-- begin #content -->
		<div id="content" class="content p-0 height-full" >
	<!-- begin #page-loader -->
	<div id="page-loader" class="page-loader fade in"><span class="spinner">Loading...</span></div>
	<!-- end #page-loader -->
    

			
<div style="padding:18px;" >
<!-- start content -->

			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<!-- <li><a href="javascript:;">Home</a></li>
				<li><a href="javascript:;">Layout</a></li> -->
				<!-- <li class="active">Home</li> -->
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Dashboard Home  </h1>
			<!-- end page-header -->
            
<!-- start page content -->
        <!-- begin section container -->
        <div class="section-container section-with-top-border" >
            <div class="row" >
                <div class="col-md-12" >
    
       <div class="row">
                    <!-- begin col-3 -->
                    <div class="col-md-6">
                        <!-- begin widget -->
                        <div class="widget widget-stat bg-success text-white">
                            <!-- <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-repeat"></i></a></div> -->
                            <div class="widget-stat-icon"><i class="fa fa-users"></i></div>
                            <div class="widget-stat-info">
                                <div class="widget-stat-title">Consumer Orgs</div>
                                <div class="widget-stat-number"><%=   %></div>
                               
                            </div>
                        </div>
                        <!-- end widget -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-6">
                        <!-- begin widget -->
                        <div class="widget widget-stat bg-success text-white">
                            <!-- <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-repeat"></i></a></div> -->
                            <div class="widget-stat-icon"><i class="fa fa-users"></i></div>
                            <div class="widget-stat-info">
                                <div class="widget-stat-title">Consumer Apps</div>
                                <div class="widget-stat-number"><%=   %></div>
                                
                            </div>
                        </div>
                        <!-- end widget -->
                    </div>
    </div>
 
    </div></div></div>

            <!-- begin section container -->
            <div class="section-container section-with-top-border" >
                    <div class="row" >
                        <div class="col-md-12" >

     

 
 
           
 

            </div>
        </div>
    </div>
    <!-- end section container -->





 
<!-- end page content -->
   



<!-- stop content -->
</div>
		
  
        

<%- include('partial/inner-footer'); %>



 
	
 